@font-face {
    font-family: Times New Roman, serif;
    font-style: normal;
    font-weight: normal;
}

body,html {
    background-color: rgb(49,49,49)
}

.page_wrapper {
    text-align: left;
    width: 640px;
    height: auto;
    margin: auto;
}

.header {
    background-image: url(header.jpg);
    background-position: center;
    height: 250px;
    position: relative;
}

.hello a {
    text-decoration: none;
    color: rgb(113,113,113);
}

.hello a:hover {
    color:rgb(107,183,223);
} 

.hello p {
    color: rgb(113,113,113)
}

.header h1 {
    font-family: Times New Roman, serif;
    font-size:185%;
    font-weight: normal;
    color: rgb(245,245,245);
    left: 13px;
    bottom: 13px;
    margin-bottom: -8px;
    margin-top: 0px;
    position: absolute;
}

.menu {
    font-family: arial;
    font-size: 10px;
    text-align: left;
    padding-left: 0px;
    padding-top: 3px;
    margin-left: -3px;
    height: 39px;

}

.menu li {
    display: inline-block;
    padding-left: 15px;
}

.menu a {
    text-decoration: none;
    color: rgb(113,113,113);
}

.menu a:hover {
    color:rgb(107,183,223);
} 

.body {
    font-family: Times New Roman;
    background-color: rgb(245,245,245);
    padding-top:0px;
    padding-bottom: 1px;
    height: auto;
    margin-top: 21px;
    position: relative;
}

.body h2 {
    padding-top: 10px;
    padding-left: 25px;
    margin-top: -33px;
    color: rgb(119,116,24);
    font-weight: normal;
}

.body a{
    text-decoration: none;
    color: rgb(113,113,113);
}

.body a:hover{
    color: rgb(107,183,223)
}

.body p {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -19px;
    margin-bottom: 40px;
    line-height: 1.7;
    font-size: 12px;
}

.footer {
    padding-top: 9px;
    padding-left: 9px;
    font-size: 12px;
    color: rgb(103,109,110);
}