{% extends "index.html" %}
{% block main %}
{% for element in news %}
<h2><a href="/news/{{element.news_url}}/">{{element.news_header}}</a></h2>
<p>{{element.news_text|truncatechars:30}}</p>
{% endfor %}
{% endblock %}