<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <!--meta name="keywords" content="Lorem Ipsum"-->
        <!--meta name="description" content="First task on SMENA summer re-education. Layout" -->
        <title>{% block head %}Lorem Ipsum{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href={% static "style.css" %}>
    </head>
    <body>
        <div class="page_wrapper">
            <div class="header">
                <h1>YOUR SITE.COM</h1>
            </div>
            <div>
                <div class="hello">
                    {% if user.is_authenticated %}
                    
                    <p>Привет, 
                        {% if not user.first_name and not user.last_name %}
                            {{user.username|title}}
                        {% else %}
                            {{user.first_name|title}} {{user.last_name|title}}</p>
                        {% endif %}
                        <p><a href="/logout">Выйти</a></p>
                    {% else %}
                    <p><a href="/login">Войти</a></p>
                    {% endif %}
                </div>
                <ul class="menu">
                    <li><a href="/site">HOME</a></li>
                    <li><a href="/about">ABOUT US</a></li>
                    <li><a href="/news-list">NEWS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">LINKS</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                </ul>
            </div>
            <div class="body">
                {% block main %}
                <h2>Welcome</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta magna sit amet massa convallis, eget viverra metus auctor. Nullam vitae urna ipsum. Mauris dictum lorem dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum in sapien ut nibh ultricies faucibus id non metus. Aenean ac nisl auctor, interdum magna quis, tempus magna. Cras id pulvinar tortor, id rhoncus elit. Fusce cursus elit id mauris vestibulum, a posuere velit eleifend. Sed feugiat enim arcu, a maximus elit sagittis quis. Donec efficitur, magna a maximus vulputate, justo dolor mollis nunc, tempus tempor leo purus et leo. Mauris a velit id sem euismod facilisis nec a dolor. Praesent et semper elit. Phasellus molestie nulla nec elit facilisis, lobortis blandit justo rutrum. Cras sit amet accumsan justo, in dapibus nisi.</p>
                <h2>Lorem Ipsum</h2>
                <p>Suspendisse viverra interdum faucibus. Morbi semper sem libero, ac mollis elit aliquet sit amet. Phasellus gravida sapien nec nisl pretium pharetra. Mauris lorem neque, malesuada nec justo at, dapibus convallis lorem. Nullam egestas id erat non cursus. Proin venenatis sapien eget quam ultricies faucibus. Nam aliquet ornare nulla, ac egestas ante elementum tempus. Curabitur interdum lacus lacus, vel ornare lectus viverra eu. Etiam tristique dolor quis urna tincidunt condimentum eu quis ligula. Nam a mauris faucibus, interdum libero id, venenatis odio. Nunc condimentum orci quis augue lacinia consequat. Morbi vel magna id nisl pretium congue non at felis. Integer aliquam risus ut dolor malesuada hendrerit. In vel nisl eu libero tempor varius ut vel nisi. Cras et dui et magna ultricies mollis quis vel sapien. Nulla dui odio, vestibulum a augue blandit, congue rutrum ligula.</p>
                <p>Nullam quis nisl quis enim auctor gravida ac a lacus. Vestibulum vitae felis vel lectus scelerisque efficitur quis malesuada neque. Sed ac ornare velit, eget maximus arcu. Nullam sagittis eros sed dolor facilisis tempor. Sed sit amet ullamcorper nunc. Nulla euismod sagittis lacus. Ut porta porttitor feugiat. Nullam eu leo ac sapien vestibulum viverra. Praesent bibendum facilisis est. Morbi est tortor, sollicitudin ut luctus vel, luctus nec magna. Morbi gravida interdum sapien eu efficitur. Quisque egestas tristique elit. Fusce pellentesque, orci quis auctor blandit, lacus erat pharetra est, nec tempus lectus est nec augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at luctus magna. Cras tempor metus id euismod gravida.</p>
                {% endblock %}
            </div>
            <div class="footer">
                Copyright   &#169; 2005 | All Rights Reserved
                <br/>
                {{date}}
            </div>
        </div>
    </body>
</html>
    