Пенсионный фонд: {{pension}}
<br/>
Фонд социального страхования: {{social_insurance}}
<br/>
Федеральный фонд обязательного медицинского страхования: {{medical_insurance}}
<br/>
Страховой налог от несчастного случая на производстве для служащих: {{accident_insurance}}
<br/>
Итог: {{sum}}