{% extends "index.html" %}

{% block head %}
{{news.news_header}}
{% endblock %}

{% block main %}
<h2>{{news.news_header}}</h2>
<p>{{news.news_text}}</p>
<p>Просмотров - {{news.news_views}}</p>
{% endblock %}