{% extends "index.html" %}
{% block main %}
<table>
{% for element in new %}
<tr>
    <td class="{% cycle index for index from 0 to {{mid}} %}">{{element}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}