{% extends "index.html" %}
{% block main %}
<h2><a href="/best-news">Лучшие новости</a></h2>
<h2><a href="/new-news">Свежие новости</a></h2>
<h2><a href="/top-news">Жаркие новости</a></h2>
</br>
{% for element in news %}
<div style="background-color: {% cycle 'white' 'grey' %}">
<h2><a href="/news/{{element.news_url}}/">{{element.news_header|upper}}</a></h2>
<p>{{element.news_text|truncatechars:50}}</p>
<p>{{element.news_create|date:"SHORT_DATE_FORMAT"}}</p>
</div>
{% endfor %}
{% endblock %}