{% extends "index.html" %}
{% block main %}
{% if user.is_authenticated %}
    С момента регистрации прошло - {{ time }} дней <br/>
    {% if user.news %}
    {% else %}
        У вас нет созданных новостей
    {% endif %}
    <br/>
    {% if user.comments %}
    {% else %}
        У вас нет написанных комментариев
    {% endif %}
{% else %}
    <p><a href="/login">Войти</a></p>
{% endif %}

{% endblock %}